# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore
!subdir/
!scratch-simulator.cc
!mpquic-example.cc
!wns3-single-path.cc
!wns3-multi-subflows.cc
!wns3-two-flow-topo.cc
!gnuplot-cwnd.cc

!mpquic-scheduler-demo.cc
!gnuplot-scheduler-reward.cc
